body {
    background-image: url("tablegreen.jpg");
    background-color: #cccccc;
   }

.padding{
    padding: 10px;
}

#score-board{
    background-color: antiquewhite;
}

#new-game-btn{
    margin-left: 10px;
}

#dealer-chip{
    border-radius: 50%;
    width: 25%;
    margin-top: 50px;
    margin-left: 250px;
}